html {
    scroll-behavior: smooth; 
}

.grad {
    background-image: linear-gradient(to right, lightpink, pink, purple, rgb(54, 0, 54));
}

body {
    font-size: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-top: 0;
    margin-top: 0;

}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

questions, submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

score, timer, button {
    font-size: 2em;
    text-shadow: gray 1px 1px;
}

.submitButton {
    border-radius: 10px;
}

content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2.5em;
    font-size: 2em;
    height: 1.5em;
    width: 20em;
    
}

.quiz {
    border: 3px solid black;
    padding: 1.5em;
    border-radius: 25px;
}

.bulk {
    justify-content: left;
    order: 2;
}